* {
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
    background-color: #282c34;
    color: white;
    display: flex;
    align-items: center;

    a {
        color: white;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 300px;
        margin-left: 60px;
        padding: 40px 0;
        justify-content: center;
        border-right: 1px dashed rgb(255 255 255 / 70%);

        h3 {
            margin-bottom: 20px;
        }

        a {
            margin-top: 15px;
            text-decoration: none;
        }
    }

    .content {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        width: calc(100% - 360px);

        .info {
            div {
                margin-bottom: 15px;
            }
            span {
                font-size: 18px;
            }
        }

        .items {
            display: flex;
            max-width: 900px;
            justify-content: flex-start;

            .item {
                margin-top: 15px;
                cursor: pointer;
                padding: 8px 20px;
                border-radius: 5px;
                border: 1px solid rgb(255 255 255 / 30%);
                margin: 15px 10px 0;
            }
        } 
        
        &.w750 .items{
            width: 750px;
        }
    }
}

.msg {
    margin-top: 25px;
    color: #e5dcdc;
    font-size: 16px;
}

.wg-trans-notify,
.notification {
    position: fixed !important;
    z-index: 1010;
    top: 24px;
    right: 24px;
    padding: 16px 24px;
    border-radius: 15px;
    box-shadow: 0px 20px 40px rgb(148 148 148 / 6%);
    background: #fff;
    width: 384px;
    max-width: calc(100vw - 24px * 2);
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Lato', 'PingFang', sans-serif;
    a {
        color: #5916e1;
        font-size: 14px;
    }
}

.trans-confirmed {
    font-weight: 500;
}
.wg-trans-notify {
    .wg-notify-ques {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #e5dcdc;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        border-radius: 8px;
        color: #1a1616;
        margin-right: 6px;
    }
}